.choose {

  padding-bottom: 431px;

  &__container {
    background-color: #2C343E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 231px;
  }

  &__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    padding-top: 100px;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
    margin-bottom: 86px;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 45px;
    bottom: -151px;
  }

  &__item {
    margin: 0;
    padding: 72px 48px 48px 48px;
    background-color: #0E8784;
    border-radius: 8px;
    position: relative;
    margin-right: 30px;

    &::before {
      content: url(./../images/coffee__bean.svg);
      position: absolute;
      top: 50px;
      left: 140px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__item-heading {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 24px;
    margin-top: 112px;
  }

  &__item-text {
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    width: 255px;
  }

  &__item2 {
    margin: 0;
    padding: 72px 48px 48px 48px;
    background-color: #0E8784;
    border-radius: 8px;
    position: relative;
    margin-right: 30px;

    &::before {
      content: url(./../images/surprise.svg);
      position: absolute;
      top: 50px;
      left: 140px;
    }
  }

  &__item3 {
    margin: 0;
    padding: 83px 48px 48px 48px;
    background-color: #0E8784;
    border-radius: 8px;
    position: relative;
    margin-right: 30px;

    &::before {
      content: url(./../images/delivery.svg);
      position: absolute;
      top: 50px;
      left: 140px;
      width: 72px;
      height: 50px;
    }
  }
}
