.commitment {

  margin-bottom: 256px;

  &__inner-container {
    max-width: 1150px;
  }

  &__container {
    background-image: url(./../images/our__commitment__bgi.png);
  background-repeat: no-repeat;
  width: 445px;
  height: 520px;
  border-radius: 8px;
  background-size: contain;
  display: flex;
  align-items: center;
  }

  &__right {
    margin-left: 570px;
  }

  &__right-heading {
    margin: 0;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  width: 357px;
  margin-bottom: 32px;
  }

  &__right-text {
    margin: 0;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 540px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  &__container {
    background-image: url("./../../images/our__commitment__bgi@2x.png");
  }
}
