.drink {

  &__container {
    display: flex;
  }

  &__left {
    margin-right: 125px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 24px;
    opacity: 0.4;
    margin: 0;
    padding: 0;
  }

  &__item-link {
    text-decoration: none;
  }


  &__item-wrapper {
    display: flex;
  }

  &__item-number {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-right: 25px;
  }

  &__item-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }

  &__item-span {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
  }

  &__item-span-span {
    background-color: #83888F;
    mix-blend-mode: normal;
    opacity: 0.25;
    display: inline-block;
    height: 1px;
    width: 255px;
  }

  &__right {
  }

  &__right-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__right-item {
    margin: 0;
    padding: 0;
    margin-bottom: 88px;
  }

  &__right-item-item-wrapper {
    display: flex;
    position: relative;
  }

  &__right-item-item-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    margin-right: 80px;
    margin-bottom: 56px;
  }

  &__right-item-item-link {
  }

  &__right-item-item-img {
    position: absolute;
    top: 20%;
    left: 94%;
  }

  &__right-item-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  &__right-item-item {
    margin: 0;
    padding: 0;
    margin-right: 23px;
    position: relative;
  }

  &__right-input {
    position: absolute;
    display: none;
  }

  &__right-item-item-span1 {
    display: inline-block;
    background-color: #F4F1EB;
    border-radius: 8px;
    padding: 32px 28px 84px 28px;
    transition: all 0.5s ease;

    &:hover {
      background-color: #FDD6BA;
    }

    &:active {
      background-color: #0E8784;
    }
  }

  &__right-item-item-span1-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 24px;

    &:active {
      color: #FFFFFF;
    }
  }

  &__right-item-item-span1-text {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    width: 172px;

    &:active {
      color: #FEFCF7;
    }
  }

  &__right-item1 {
    background-color: $dark-grey;
    padding: 27px 64px 27px 64px;
    margin-bottom: 40px;
    width: 730px;
  }

  &__right-item1-span {
    color: $dark-cyan;
  }

  &__right-item1-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  &__right-item1-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    width: 602px;
  }

  &__btn {
    margin-left: 550px;
    margin-bottom: 168px;
  }
}
