.footer {

  margin-bottom: 88px;

  &__container {
    background-color: #2C343E;
    display: flex;
    padding: 47px 85px 51px 85px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__left {
    margin-right: 103px;
  }

  &__link {
  }

  &__link-logo {
    width: 256px;
  height: 26px;
  object-fit: contain;
  }

  &__nav {
  }

  &__list {
    margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-right: 217px;
  }

  &__item {
    margin-right: 1px;
    display: flex;
    align-items: center;
  }

  &__item-link {
    font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888F;
  padding-right: 32px;
  }

  &__item-active:hover {
    font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #FEFCF7;
  }
  &__item-active:active {
    font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #FEFCF7;
  }

  &__smm-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  &__smm-item {
  }

  &__smm-item-link {
  }

  &__smm-item-img {
  }
}
